.container{
    display:grid;
    width:800px;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(8,1fr);
    gap:0px;
    border:5px solid black;
    margin-top: 10px;
  }
  .white{
    background-color:#f0d9b5 ;
    height:100px;
    width:100px;
  }
  .black{
    background-color:#b58863 ;
    height:100px;
    width:100px;
  }
  h1{
    color:rgb(141, 24, 112);
    font-weight: 50px;
  }